Source: parental-time-curb
Section: admin
Priority: extra
Maintainer: Kevin C. Krinke <kevin@krinke.ca>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/kckrinke/parental-time-curb
#Vcs-Git: https://github.com/kckrinke/parental-time-curb.git
#Vcs-Browser: https://github.com/kckrinke/parental-time-curb

Package: parental-time-curb
Architecture: all
Depends: ${misc:Depends}, slay, coreutils, libnotify-bin, bash, cron, perl, procps, passwd, sudo, libui-dialog-perl, dialog, libfile-slurp-perl, libterm-size-perl, python-appindicator, python-gtk2
Description: Limit the amount of time a user can be on the computer.
 Parents can set how many minutes per day a user account can be logged in.
 Parents set up "start" and "end" times and users can spend their daily
 maximum number of minutes within that range. Once either their daily
 maximum number of minutes is used up or the end-time is met, the user
 account is forcibly logged out and their login is locked down. The
 daily maximum is reset and the user can login after the "start" time
 the next day.
